@font-face {
  font-family: "LiberationSans";
  src: url("fonts/LiberationSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LiberationsSans";
  src: url("fonts/LiberationSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "LiberationSans";
  src: url("fonts/LiberationSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "LiberationSans";
  src: url("fonts/LiberationSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* Removing default margins. Margin will be added as needed. */
body {
  font-family: "LiberationSans", Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/* Add space between content and edge of screen */
.maincontent {
  margin: 2%;
}

/* Separates images from text */
.flexbox-container {
  display: flex;
}

