<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}" />
		<meta chahrset="UTF-8" />
		<title>Andrew Johnson</title>
	</head>
	<body>
      <div class="flexbox-container">
    {% include 'top_nav.html' %}
		<h1 id="name">Andrew Johnson</h1>
    <h1>Notable Projects</h1>
			<h2>Personal Linux Server</h2>
			<p>December 2016 - Present</p>
			<ul>
				<li>Host my website at <a href="https://www.luminlapid.com">www.luminlapid.com</a> on my own hardware at home using Django on NixOS. </li> 
				<li>Enabled TCP port forwarding on Frontier, Nighthawk and eero routers and an Xfinity modem.</li>
				<li>Installed Debian Linux server on a Dell Poweredge R630 server as upgrade to the HP Envy.</li> 
				<li>Added an additional SSD, extending the drive partition and configuring it for use with the OS.</li> 
				<li>Configured an Nginx server to route traffic between Minecraft, SFTP, and Node.js servers.</li> 
			</ul>
			<h2>Senior Project: Machine Learning &amp; Web Development</h2>
			<p>September 2021 - June 2022</p>
			<div class="flexbox-container">
        <img src="{% static 'senior-project-csv-importer-flowchart.png' %}" alt="Senior project CSV importer flowchart.">
				<ul>
					<li>Led a team of 4 students to develop a data-cleansing importer for Excel and CSV files.</li> 
					<li>Implemented support vector machine learning to categorize transactions for Schedule F tax forms.</li> 
					<li>Developed a web page for financial statement uploads using Python Django.</li> 
				</ul>
			</div>
			<h2>Personal Project: Game Engine</h2>
			<p>July 2020 - January 2022</p>
			<ul>
				<li>Spearheaded the development of a 3D game engine with 3 colleagues, utilizing C++ and OpenGL.</li> 
				<li>Directed development through flowcharts and documentation.</li>
				<li>Ensured cross-platform compatibility by adding compile scripts for both Windows and Linux.</li>
			</ul>
    <h1>Work Experience</h1>
			<h2>Intel Corporation: Software Application Engineer</h2>
			<p>June 2024 - November 2024</p>
				<ul>
					<li>Curated Intel version of open-source software repositories for improved security.
</li> 
					<li>Hardened internal open-source software by embedding C/C++ compiler flags.
</li> 
					<li>Implemented Python &amp; Bash scripts to compile and execute software on Docker &amp; Podman containers.</li> 
					<li>Applied security patches with git to fix CVEs in software versions released up to 2 years ago.</li> 
					<li>Peer-reviewed teammates’ work for accuracy, quality, and compliance with guidelines.
</li> 
					<li> Wrote GitHub workflows for testing software and generating Debian distribution binaries.
</li> 
					<li>Prepared YML files with annotations for BDBA BOM generation to alert users of patched software.
</li> 
				</ul>
    <a href="{% static 'css/fonts/SIL-Open-Font-License.txt' %}">Liberation Sans Font License</a>
			</div>
	</body>
</html>
