<div class="topnav">
  <a {% if request.path == '/' %}class = "active"{% endif %}href="{% url 'homepage' %}">Home</a>
  <a {% if request.path == '/blog' %}class = "active"{% endif %} href="{% url 'blog' %}">Blog</a>
  <a {% if request.path == '/past_projects' %}class = "active"{% endif %}href="{% url 'past_projects' %}">Past Projects</a>
  <a href="https://github.com/Andrew-Jeffrey-Johnson">GitHub</a>
  <a href="https://www.youtube.com/channel/UCDI_H9Ox8EcYOHWmtXIRHOg">YouTube</a>
  <a href="">andrew.jeffrey.johnson@gmail.com</a>
</div>
