<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/homepage.css' %}"
    />
    <meta chahrset="UTF-8" />
    <title>Andrew Johnson</title>
  </head>
  <body>
      <div class="flexbox-container">
    <!-- Navigation bar -->
    <div class="topnav">
      <a href="{% url 'homepage' %}">Home</a>
      <a class="active" href="{% url 'past_projects' %}">Past Projects</a>
      <a href="https://github.com/Andrew-Jeffrey-Johnson">GitHub</a>
      <a href="https://www.youtube.com/channel/UCDI_H9Ox8EcYOHWmtXIRHOg"
        >YouTube</a
      >
      <a href="">andrew.jeffrey.johnson@gmail.com</a>
    </div>
    <!-- Main content -->
    <div class="maincontent">
      <h1>Past Presentations, Documents, and Projects</h1>
      <ul>
        <li>
          <a
            href="https://andrew-jeffrey-johnson.github.io/server-plan/server-plan.html"
            >Personal Linux Server Upgrade Plan</a
          >
        </li>
        <li>
          <a href="https://github.com/Andrew-Jeffrey-Johnson/test-rust-flake"
            >Test to Compile and Run a Rust Project Using Nix</a
          >
        </li>
        <li>
          <a href="https://github.com/Andrew-Jeffrey-Johnson/attempt_opengl"
            >Compile and run an OpenGL program programmed in Rust using Nix</a
          >
        </li>
        <li>
          <a href="https://github.com/Andrew-Jeffrey-Johnson/pool-of-knowledge"
            >Node.js website to view customer and shop information for The
            Billiard Shop</a
          >
        </li>
        <li>
          <a href="https://github.com/Andrew-Jeffrey-Johnson/GTK-Spreadsheet"
            >Spreadsheet application built using GTK in C++</a
          >
        </li>
        <li>
          <a href="https://github.com/Andrew-Jeffrey-Johnson/patchwork"
            >Git-it Workshop Completion</a
          >
        </li>
        <li>
          <a href="https://github.com/Andrew-Jeffrey-Johnson/hello-world"
            >Hello! Nice weather.</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Andrew-Jeffrey-Johnson/junyper-notebook-whisper"
            >Whisper in Python Junyper Notebook</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Andrew-Jeffrey-Johnson/junyper-notebook-general"
            >General Python Junyper Notebook</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Andrew-Jeffrey-Johnson/junyper-notebook-tabletop"
            >Tabletop in Pygame Junyper Notebook</a
          >
        </li>
        <li>CS290 Web Development:</li>
        <ul>
          <li>
            <a
              href="https://andrew-jeffrey-johnson.github.io/cs290/assignment1/"
              >Assignment 1</a
            >
          </li>
          <li>
            <a
              href="https://andrew-jeffrey-johnson.github.io/cs290/assignment2/index2.html"
              >Assignment 2</a
            >
          </li>
          <li>
            <a
              href="https://andrew-jeffrey-johnson.github.io/cs290/assignment3/"
              >Assignment 3</a
            >
          </li>
          <li>
            <a
              href="https://andrew-jeffrey-johnson.github.io/cs290/assignment4/blog.html"
              >Assignment 4</a
            >
          </li>
          <li>
            <a
              href="https://andrew-jeffrey-johnson.github.io/cs290/assignment5/blog.html"
              >Assignment 5</a
            >
          </li>
          <li>
            <a
              href="https://andrew-jeffrey-johnson.github.io/cs290/final-project-pixeldivs/html/home.html"
              >Final Project: Pixel Divs</a
            >
          </li>
        </ul>
        <li>ECE271 Digital Logic Design:</li>
        <ul>
          <li>
            <a
              href="https://github.com/Andrew-Jeffrey-Johnson/ece-271-design-project"
              >Design Project</a
            >
          </li>
          <li>
            <a href="https://github.com/Andrew-Jeffrey-Johnson/ece271-mifMaker"
              >MIF Maker</a
            >
          </li>
        </ul>
        <li>
          <a
            href="https://github.com/Andrew-Jeffrey-Johnson/ece-271-design-project"
            >ECE271 Digital Logic Design</a
          >
        </li>
        <li>
          <a href="https://github.com/Andrew-Jeffrey-Johnson/ai531"
            >AI531 Big Ideas in AI</a
          >
        </li>
        <li>
          <a href="https://github.com/Andrew-Jeffrey-Johnson/cs261"
            >CS261 Data Structures</a
          >
        </li>
        <li>CS340 Introduction to Databases:</li>
        <ul>
          <li>
            <a
              href="https://github.com/Andrew-Jeffrey-Johnson/cs340/tree/main/cs340p2"
              >Project 2</a
            >
          </li>
          <li>
            <a href="https://github.com/Andrew-Jeffrey-Johnson/cs340p3"
              >Project 3</a
            >
          </li>
          <li>
            <a
              href="https://github.com/Andrew-Jeffrey-Johnson/cs340/tree/main/cs340p4"
              >Project 4</a
            >
          </li>
        </ul>
        <li>CS362 Software Engineering II:</li>
        <ul>
          <li>
            <a
              href="https://github.com/Andrew-Jeffrey-Johnson/Github-Actions-CI"
              >GitHub Actions CI</a
            >
          </li>
          <li>
            <a
              href="https://github.com/Andrew-Jeffrey-Johnson/CS362-ExtraCredit-Q1"
              >Extra Credit Q1</a
            >
          </li>
          <li>
            <a
              href="https://github.com/Andrew-Jeffrey-Johnson/CS362-ExtraCredit-Q3"
              >Extra Credit Q3</a
            >
          </li>
          <li>
            <a href="https://github.com/Andrew-Jeffrey-Johnson/CI-Calculator"
              >CI-Calculator</a
            >
          </li>
          <li>
            <a
              href="https://github.com/Andrew-Jeffrey-Johnson/cs362-hw7-leap-year"
              >HW7 Leap Year</a
            >
          </li>
          <li>
            <a
              href="https://github.com/Andrew-Jeffrey-Johnson/cs362-hw7-fizzbuzz"
              >HW7 fizzbuzz</a
            >
          </li>
          <li>
            <a
              href="https://github.com/Andrew-Jeffrey-Johnson/CS362-in-class-upcp"
              >In-Class UPCP</a
            >
          </li>
          <li>
            <a
              href="https://github.com/Andrew-Jeffrey-Johnson/cs362-in-class-unittest-pytest"
              >In-Class Unit Test pytest</a
            >
          </li>
          <li>
            <a href="https://github.com/Andrew-Jeffrey-Johnson/cs362-hw4"
              >HW4</a
            >
          </li>
          <li>
            <a
              href="https://github.com/Andrew-Jeffrey-Johnson/in-class-unit-testing"
              >In-Class Unit Testing</a
            >
          </li>
          <li>
            <a
              href="https://github.com/Andrew-Jeffrey-Johnson/cs362-hw3-software-testing"
              >HW3 Software Testing</a
            >
          </li>
          <li>
            <a href="https://github.com/Andrew-Jeffrey-Johnson/InClassGit"
              >In-Class Git</a
            >
          </li>
        </ul>
        <li>
          <a href="https://github.com/Andrew-Jeffrey-Johnson/cs444"
            >CS444: Operating Systems II</a
          >
        </li>
        <li>Past Accounts:</li>
        <ul>
          <li><a href="https://github.com/Irifulmin">GitHub: Irifulmin</a></li>
          <li>
            <a
              href="https://web.archive.org/web/20210513163808/https://github.com/johnand4"
              >GitHub: johnand4 (deleted)</a
            >
          </li>
        </ul>
      </ul>
      <a href="static/css/fonts/SIL-Open-Font-License.txt"
        >Liberation Sans Font License</a
      >
    </div>
			</div>
  </body>
</html>
